/*
Colours and guides given in:
https://www.cam.ac.uk/system/files/guidelines_v8_december_2019.pdf
colours: page 16 & 18
*/

.titlebar {
    text-align: center;
    background-color: #115E67;
    color: white;
    border:0;
    margin:0;
    padding: 3.5%;
}