<!DOCTYPE html>
<html lang="en">
<head>
    {% include "includes/header.html" %}
    <meta charset="UTF-8">
    <title>jacob.covs.tld</title> <!-- TEMP:REPLACE -->

    {% include "includes/navbar.html" %}
    <div class="container">


        <main id="content">
            <h1>Welcome</h1>
            <p class="fs-5 col-md-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Lacus sed viverra tellus in. Ipsum suspendisse ultrices gravida dictum. Sit amet dictum sit amet justo donec enim diam.</p>
        </main>

    </div>

</head>
<body>

</body>
</html>
