<!DOCTYPE html>
<html lang="en">
<head>
    {% include "includes/header.html" %}
    <meta charset="UTF-8">
    <title>COVS JACOB</title> <!-- TEMP:REPLACE -->

    <div class="container titlebar">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
                <span class="fs-4">jacob.covs.tld</span> <!-- TEMP:REPLACE -->
            </a>

            <ul class="nav nav-pills"> <!-- TODO fill out with correct links! --> <!-- TEMP:REPLACE multiple: -->
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Create Election</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Audit</a></li>
                <li class="nav-item"><a href="#" class="nav-link">[...]</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            </ul>
        </header>
    </div>

    <p>This is the page content</p>

</head>
<body>

</body>
</html>